body {
    background-color: grey;
}
table { font-style: italic;

}

tbody {
  background-color: maroon;
}

h1 {
    color: maroon;
    margin-left: 40px;
}
a {
  font-family: monospace;
  text-decoration: none;
  font-weight: none;
}

a:link {
  color: Green;
}

a:visited {
  color: Red;
}

a:hover {
  text-decoration: underline;
  color: #00c;
  font-family: cursive;
}

a:active {
  font-weight: bold;
